<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.csci150.newsapp.entirenews">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Home"></activity>
        <activity
            android:name=".NewsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Translucent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csci150.newsapp.entirenews.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csci150.newsapp.entirenews.MainActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csci150.newsapp.entirenews.MainActivity" />
        </activity>
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Translucent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csci150.newsapp.entirenews.MainActivity" />
        </activity>
        <activity
            android:name=".SavedActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.csci150.newsapp.entirenews.MainActivity" />
        </activity>
        <activity android:name=".LibActivity" />
        <activity android:name=".PrivatePolicyActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".IntroActivity" />
        <activity android:name=".SignupActivity" />
        <activity
            android:name=".BottomNavActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>